<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<th>ID</th>
				<th>Título</th>
				<th>Notícias</th>
			</tr>
			<% for(notice of notices){ %>
				<tr>
					<td><%= notice.id_notice %></td>
					<td><%= notice.title %></td>
					<td><%= notice.content %></td>
				</tr>
			<% } %>
		<table>	

	</body>
</html>
